// BASE [ VARIABLES ] #################################################################################################

// A. MEDIA QUERY BREAKPOINTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. BREAKPOINTS ---------------------------------------

// from 575px down
$xs-dn: "max-width:575px";

// from 576px up
$sm-up: "min-width:576px";

// from 767px down
$md-dn: "max-width:767px";

// from 768px up
$md-up: "min-width:768px";

// from 991px down
$lg-dn: "max-width:991px";

// from 992px up
$lg-up: "min-width:992px";

// from 1199px down
$xl-dn: "max-width:1199px";

// from 1200px up
$xl-up: "min-width:1200px";

// from 1399px down
$xxl-dn: "min-width:1399px";

// from 1400px up
$xxl-up: "min-width:1400px";

// from 1919px down
$hd-dn: "min-width:1919px";

// from 1920px up
$hd-up: "min-width:1920px";

// A.1. END -----------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SIZES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B.1. PADDING & MARGINS ---------------------------------

$base-xl: 60px;
$base-lg: 45px;
$base-md: 30px;
$base: 15px;
$base-sm: 8px;
$base-xs: 4px;

// B.1. END -----------------------------------------------

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$black: #000000;
$grey-02: #2d2323;
$grey: #4d4d4d;
$white: #ffffff;
$white-03: rgba(244, 247, 251, 0.3);

// C.2. SITE COLOR CONFIG ---------------------------------

$default: #3a5181;
$avo: #818a6f;
$greenD: #52733b;
$greenL: #84a45a;
$slate: #e4ebf2;

$kd-blue: #4a90e2;
$blue-3a: #3a5181;

$royal: #001844;
$royal-l: #334669;
$blue-lt: #29abe2;

$black: #000000;
$grey-21: #212121;
$grey-33: #333333;
$grey-f2: #f2f2f2;
$grey-cc: #cccccc;
$grey-80: #808080;
$grey-lt: #b2bac7;
$grey-b2: #b2bac7;
$grey-blue: #808ba1;
$grey-8b: #808ba1;
$grey-b3: #b3b5b4;
$grey-ce: #cececf;
$white: #ffffff;

// C.2. END -----------------------------------------------

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
