// COMPONENT [ HERO BLOCK ] ###########################################################################################
@import "scss/.base/module-index";

.oHeroBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  &.bannerHome {
    min-height: 100vh;

    .introImage {
      @include position(absolute, 0);
      background-size: cover;
      z-index: -1;
    }

    .oContentBlock {
      display: flex;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .mLogo {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &.bannerPage {
    min-height: 30vh;
    position: relative;
    .introImage {
      @include position(absolute, 0);
      background-size: cover;
      z-index: -1;
    }

    .oContentBlock {
      display: flex;
      align-items: center;
      height: 30vh;
      flex-direction: column;
      justify-content: center;
    }

    .mLogo {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
