// BLOCK [ BRAND COLLECTION ] #########################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oBrandCollection {
  margin-bottom: 100px;
}

.aTitle {
  margin: 50px auto 30px;
  text-align: center;
}

.mImageSmall {
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
}

.oColRight {
  .oCol {
    height: 50%;
    padding: 0;
    &.oColVideo {
      padding: 0;
    }
    .oRowScaled {
      height: 100%;
      .oColImageSmall,
      .oColProductLink {
        height: 100%;
      }
    }
  }
}

.oLinkItem {
  display: inline;
  text-decoration: none;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
