// COMPONENT [ HERO BLOCK ] ###########################################################################################
@import "scss/.base/module-index";

.oProjectBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 100px 0;
  background-color: white;
  .aBlockTitle {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    color: black;
  }
  .blockWrapper {
    @include aspect-ratio(100%, 100%);
    position: relative;
    margin: 30px auto 150px;
  }

  .mCtaBlock {
    text-align: center;
    display: block;
    width: 100%;
    margin: 50px auto 0;
  }

  // A.1.1. PROJECT CARD ------
  .oProjectCard {
    cursor: pointer;
    .oCard {
      position: relative;
      overflow: hidden;
      height: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      &:hover {
        .mImage {
          transform: scale(1.02);
          transition: 0.3s;
        }
      }
      .mImage {
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        z-index: 1;
        transition: 0.6s;
      }
      .mBody {
        position: relative;
        z-index: 10;
        color: black;
        display: flex;
        flex-direction: column;
        flex: 1 1;
        .aTitle {
          padding: 7px 10px;
          text-align: center;
          background-color: #333;
          color: white;
          flex: 1 1;
        }
        .aText {
          padding: 15px 2px;
          flex: 2 2;
        }
        .aPrice {
          background-color: #e4e4e4;
          color: black;
          font-weight: 800;
          text-align: right;
          padding: 5px 15px;
          flex: 1 1;
        }
      }
    }
  }
  // A.1.1. PROJECT CARD ------

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .oContentBlock {
      .mImage {
        max-width: 300px;
        margin: 0 auto;
      }
      .aImage {
        margin: 20px auto;
      }
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
