// BLOCK [ PRODUCT CARD ] #############################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
.oCard {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  &:hover {
    .mImage {
      transform: scale(1.02);
      transition: 0.3s;
    }
  }
  .mImage {
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    z-index: 1;
    transition: 0.6s;
    background-color: white;
  }
  .mBody {
    position: relative;
    z-index: 10;
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    .aTitle {
      padding: 7px 10px;
      text-align: center;
      background-color: #333;
      color: white;
      flex: 2 2;
    }
    .aText {
      padding: 15px 2px;
      flex: 2 2;
    }
    .mCopy {
      padding: 20px 15px;
      background-color: white;
      flex: 2 2;
    }
    .aPrice {
      background-color: #e4e4e4;
      color: black;
      font-weight: 800;
      text-align: right;
      padding: 5px 15px;
      flex: 1 1;
    }
  }

  &.mGoatEdition {
    * {
      text-decoration: none !important;
    }
    margin: 0;
    .oCard {
      margin: 0;
      .mImage {
        aspect-ratio: auto;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &:hover {
      .mImage {
        transform: scale(1.02);
        transition: 0.3s;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
