// MOLECULE [ NAVIGATION ] ############################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oFooter {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 80px 0;
  .aTitle {
  }
}

.mLogo,
.mContact {
  position: relative;
  max-width: 200px;
  aspect-ratio: 1/1;
  margin: 20px auto;
  .aImageBG {
    @include position(absolute, 0);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.oNavigation {
  &.footerMenu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 200px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    .mMenuItem {
      position: relative;
      flex: 1 1 90px;
      .mImage {
        width: 90px;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
  .oCol {
    margin-bottom: 40px;
  }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oMenuCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
