// GLBAL [ PROJECTS ] #################################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.0. IMPORTS -------------------------------------------
@import "../../scss/.base/module-index";
// A.0. END: IMPORTS --------------------------------------

// A.1. PAGE BASE STYLES ----------------------------------

.oProjectPage {
  position: relative;
}

// A.1.1. PROJECT CARD ------
.oProjectCard {
  cursor: pointer;
  .oCard {
    position: relative;
    overflow: hidden;
    background-color: black;
    &:hover {
      .mImage {
        transform: scale(1.05);
        transition: 0.3s;
        opacity: 0.1;
      }
      .mBody {
        height: 50%;
        transition: 0.3s;
      }
    }
    .mImage {
      aspect-ratio: 16/9;
      background-position: center;
      background-size: cover;
      z-index: 1;
      transition: 0.6s;
    }
    .mBody {
      position: absolute;
      z-index: 10;
      width: 100%;
      bottom: 0;
      height: 25%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      transition: 0.3s;
    }
  }
}
// A.1.1. PROJECT CARD ------
// A.1. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
