// ORGANISM [ SLICK SLIDER ] ##########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. SLIDER BASE STYLES --------------------------------

.slick-slider {
  width: 100%;
  overflow: hidden;
  .slick-track {
    display: flex !important;
  }
  .slick-arrow {
    @include vertical-align(absolute);
    &.slick-prev {
      left: -50px;
    }
    &.slick-next {
      right: -50px;
    }
  }
  .slick-dots {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    display: block;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 10px;
      border-radius: 10px;
      background: orange;
      button {
        display: block;
        @include position(absolute, 0);
        opacity: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &:hover,
      &.slick-active {
        box-shadow: 0 0 3px 2px #888;
        background: white;
      }
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
  .slick-slide {
    height: inherit !important;
    padding: 0;
    * {
      color: white;
    }
    .aTitle {
      margin-bottom: 30px;
    }
    .aText {
      margin-bottom: 20px;
    }
  }
}

.oCarouselBlock {
  .slick-slider {
    .slick-slide {
      padding: 0;
    }
    .slick-dots {
      @include center-align();
      bottom: 20px;
    }
  }
}

// A.1. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
